{% load i18n static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pycon Portugal 2025</title>
  <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="wrapper-landing-page">
  <img class="landing_page_filler" src="{% static 'images/landing_page/filler.png' %}" alt="filler">
<div class="aligner">
  <div class="button-container">
    <div class="button blue">SAVE THE DATE</div>
    <div class="button green">23-26 JULY 2025</div>
    <div class="button white">PYCON PORTUGAL 2025</div>
  </div>
</div>
<div class="button-container-action">
  <button>SUPER EARLY BIRD</button>
  <button>CALL FOR PARTICIPATION</button>
  <button>VOLUNTEERS</button>
</div>
  <div class="location">Cascais Nova SBE</div>

</div>
</body>
</html>
