// header

@use "base";



.header {
  background-color: base.$bgBlueGray;

  .navbar-brand {
    img {
      max-width: 80px;
    }
  }

  .navbar-toggler {
    &:hover {
      background-color: white !important;
    }

    i {
      color: base.$white;
      font-size: 42px;
      &:hover {
        color: base.$bgBlueGray;
      }
    }
  }

  ul {
    padding: 0.7rem;

    a,
    a:hover {
      color: #FFF;

      &.dropdown-item {
        color: white;

        &:hover {
          background-color: white !important;
          color: base.$bgBlueGray !important;
        }

        a {
          font-size: 42px;
        }
      }
    }

    .nav-link::after {
      display: none;
    }

    .nav-link {
      font-family: "Share Tech";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }

    @media (max-width: 768px) {
      .nav-link {
        text-align: center;
      }
    }
  }

  .dropdown-menu {
    background: base.$bgBlueGray;
    border: 1px solid #f7f7f7;
    a {
       font-family: "Share Tech";
    }
  }
}

@media (max-width: 991px) {
  .header .dropdown-menu {
    border: unset;
  }
}
